.nav-MenuFooterbar h1 {
  color: white;
}

.nav-MenuFooterbar {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: grey;
  font-weight: 600;
  height: 110px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.button {
  width: 200px;
  height: 90px;
  font-size: 20px;
  display: block;
  background-color: #61dafb;
  border-radius: 25px;
  box-shadow: 2px 2px 1px rgb(25, 106, 138);
  border: none;
  color: black;
}

.nav-MenuFooterbar a {
  color: green;
}

.nav-MenuFooterbar a:hover {
  color: white;
}
