.admin-navbar {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: grey;
  font-weight: 600;
  color: white;
  width: 100%;
  /* position: fixed;
  top: 0; */
  height: 70px;
}

.admin-navbar a {
  text-decoration: none;
  color: #61dafb;
  font-size: 30px;
}

.admin-navbar a:hover {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.admin-navbar button {
  width: 80px;
  height: 30px;
  font-size: 20px;
  display: block;
  background-color: #61dafb;
  border-radius: 25px;
  box-shadow: 2px 2px 1px rgb(25, 106, 138);
  border: none;
  color: black;
}
