* {
  box-sizing: border-box;
  margin: 0;
}

.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;
  width: 100%;
}
.main-container h1 {
  background-color: rgb(35, 161, 211);
  padding: 10px;
  border-radius: 25px;
  background-color: grey;
  color: white;
  box-shadow: 2px 2px 1px rgb(118, 119, 119);
}

.main-box {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
}
.option-box {
  width: 200px;
  height: 200px;
  border: none;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  background-color: grey;
  color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 1px rgb(118, 119, 119);
}

.option-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-box h2 {
  margin: 5px;
}
.option-box input {
  width: 70px;
  height: 40px;
  margin: 10px 20px;
  font-size: x-large;
  display: block;
}
.home-button {
  width: 70px;
  height: 40px;
  font-size: 20px;
  display: block;
  background-color: #61dafb;
  border-radius: 25px;
  box-shadow: 2px 2px 1px rgb(25, 106, 138);
  border: none;
}
