.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-image: url("qr.jpg"); */ /*Need to ask about it*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 400px;
}

.main-box {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
}
.option-box {
  width: 200px;
  height: 200px;
  border: solid 1px black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.option-box h2 {
  margin: 5px;
}
.option-box input {
  width: 30px;
  margin: 10px 20px;
}
